@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="p-5 text-center bg-image"
         style=" background-image: url('https://www.vivre-a-niort.com/fileadmin/ville/user_upload/tx_usermanifestations/imagedes_chiffres_et_des_lettres_01.jpg'); height: 400px; ">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3">Vous pouvez jouer maintenant</h1>
                    <h4 class="mb-3">Lancer le jeux !</h4>
                    <a class="btn btn-outline-light btn-lg" href="/Players" role="button">Play</a>
                </div>
            </div>
        </div>
    </div>
    
</div>

    <span class="d-block p-2 bg-primary text-white"></span>
    <span class="d-block p-2 bg-dark text-white"></span>

    <div class="position-relative">
        <div class ="position-absolute top-0 start-0 translate-middle">
             <div class="p-5 text-center bg-image"
                style=" background-image: url('file:///C:/Users/PITAKLI%20GERARD/Downloads/Caf%C3%A9%20Condorcet.png'); height: 40px; ">
             </div>
        </div>

        <div class="position-absolute top-0 start-100 translate-middle">
            <div class="p-5 text-center bg-image"
                 style=" background-image: url('file:///C:/Users/PITAKLI%20GERARD/Downloads/Caf%C3%A9%20Condorcet.png'); height: 40px; ">
            </div>
        </div>
<   </div>


